div{
    border-color: rgb(2, 2, 41);
    border-top: 10px;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    width: 50%;
    
}